body {
    font-family: 'Roboto Mono', monospace;
    background: #bbb;
    margin: 0;
    // background: linear-gradient(40deg, rgba(2,0,36,0.1), rgba(0,212,255,0.6));
    overscroll-behavior: none
}

a {
    color: #000;

    &:hover, &:focus {
        color: #f0f;
    }

    &.active {
        color: #08f
    }
}

::placeholder {
    color: #000;
    opacity: 0.3;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 100;
}

form.start {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 90vw;
    left: 5vw;

    input {
        font-family: 'Roboto Mono', monospace;
        display: block;
        font-size: 1.5em;
        margin: 0.5em 0;
        border: none;
        background: transparent;
        border-bottom: 1px solid aquamarine;
        max-width: 100%;

        transition: .4s;

        &:focus {
            outline: none;
            border-color: #000;
        }
    }
    button {
        font-family: 'Roboto Mono', monospace;
        font-size: 1em;
        background: none;
        border-width: 1px;
        padding: .35em;
        display: block;
    }

    label input {
        display: inline-block;
        margin-right: 1em
    }
    label {
        display: inline-block;
        margin-right: 3em;
    }
}


.Connection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .6em;

    background-image: linear-gradient(-45deg, #d1ff78 0%, #0eff9b 100%);

    transition: all .6s;

    &.error {
        padding: 2em;
        background-image: linear-gradient(45deg, #c10000 0%, #ff00ff 100%);
    }

    a {
        color: #000;
    }

}


.Host, .Join {
    padding: 2em;
}


.Trails {
    canvas {
        background: linear-gradient(45deg, #8e8787 0%, #dedede 100%);
        border-radius: 5px;
        box-shadow: rgba(0,0,0,0.1) 4px 2px 10px;
        display: block;
        width: 80vmin;
        height: 80vmin;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    input[type=color] {
        width: 4em;
        height: 4em;
        position: absolute;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translateX(-50%)
    }
}


.Camera {
    form {

        text-align: center;

        button {
            display: block;
            font-size: 5em;
            background: rgba(0,0,0,0.2);
            border: none;
            margin: 0.25em auto;

            transition: .2s;
            cursor: pointer;

            &:hover, &:focus {
                background: #fc0
            }
        }

        input {
            border: none;
            font-size: 1em;
            background: rgba(255,255,255, 0.5)
        }

        label {
            display: block;
            margin: .5em;
        }
    }


    .emoj {
        font-size: 30vmax;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
}
